body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    /* font-family: "Oswald", serif; */
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
}

.menu {
    margin: 10px -2px;
    padding: 30px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.log789{
    /* margin: 16px 0px; */
    margin: 4px 0px;
    padding: 0px 92px;
    text-align: center;
}

.CCID{
    margin: 5px;
    font-size: 9px;
}

/* .menu:hover{
    background-color: red;
} */

.title img {
    height: 80px;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
}

.line {
    width: 33px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 3px 3px;
}

.forms{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

.input{
    width: 250px;
    height: 30px;
    font-size: 16px;
    padding: 2px 5px;
    margin: 5px 5px;
}

.input_reg{
    width: 350px;
    height: 30px;
    font-size: 16px;
    padding: 2px 5px;
    margin: 5px 5px;
}

.forgot_pass{
    margin: 5px 5px;
}

.user_button{
    margin: 5px 0px;
    padding: 5px 46px;
    background-color: green;
    color: white;
}

.user_button:hover{
    cursor: pointer;
}

.user_button_reg{
    display: flex;
    align-self: center;
}

.register_button{
    cursor: pointer;
}

.forgot_pass{
    text-decoration: none;
    color: black;
}

.register_button{
    margin: 5px 0px 10px 5px;
    padding: 5px 36.5px;
    background-color: rgb(0, 0, 124);
    color: white;
}

.container{
    display: flex;
    flex-direction: row-reverse;
    /* display: flex;
    flex-direction: row; */
    justify-content: center;
    padding: 90px 0px 0px 0px;
}

.content{
    width: 700px;
    padding: 0px 0px 0px 10px;
    /* width: 60%;
    padding: 20px; */
}

.login_box{
    /* margin: 10px; */
    margin: 81px 10px 10px 10px;
    /* position: fixed;
    right: 12vw; */
}

.login_box_post_side{
    margin: 81px 10px 10px 10px;
}

.reg_box{
    margin: 10px;
}

.article_heading{
    margin: 10px 0px 0px 0px;
}

.article{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 3px;
}

.articles{
    margin: 10px 0px;
    padding: 10px;
}

.block{
    display: none;
}

.green{
    color: rgb(0, 170, 0);
}

.blue{
    color: rgb(0, 119, 255);
}

.selector{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selector_input{
    width: 275px;
    height: 30px;
    font-size: 16px;
    padding: 2px 5px;
    margin: 5px 5px;
}

.footer{
    background-color: black;
    color: white;
    padding: 15px;
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.read_more{
    text-decoration: none;
    color:rgb(0, 0, 124);
}

.read_more:hover{
    color: dodgerblue;
}

@media only screen and (min-width: 800px) {

    .menu:hover{
        background-color: #ac0000;
    }

}


@media only screen and (max-width: 801px) {

    .navbar {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition-property: all;
        transition-duration: 0.25s;
    }

    .nav_links {
        display: none;
        padding: 0;
        width: 100%;
        margin: 10px;
    }

    .nav_links a {
        margin: 10px 0px 0px 0px;
    }


    .burger {
        display: block;
        position: absolute;
        cursor: pointer;
        top: 14px;
        right: 14px;
        cursor: pointer;
        z-index: 10;
        transition: all 0.3s ease;
    }

    .line {
        width: 33px;
        height: 4px;
        background-color: white;
        margin: 5px 0;
        transition: all 0.3s ease;
    }

    .burger.active .line1 {
        transform: rotate(45deg) translate(8px, 8px);
    }
    
    .burger.active .line2 {
        opacity: 0;
    }
    
    .burger.active .line3 {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .expanded {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* height: 145px; */
        height: 250px;
        position: relative;
        transition-property: all;
        transition-duration: 0.25s;
    }

    .expandedlist {
        height: 350px;
        /* height: 20px; */
        transition-property: all;
        transition-duration: 0.25s;
    }

    .menu {
        margin: 10px 10px;
        padding: 0px 0px;
    }

    .login_box{
        display: none;
    }

    .content{
        width: 700px;
        padding: 0px 10px 0px 10px;
    }

    .block{
        display: block;
    }

    .forms{
        border-style: none;
    }

    .reg_box{
        text-align: center;
    }

    .input_reg{
        width: 250px;
        height: 30px;
        font-size: 16px;
    }

    .selector_input{
        width: 175px;
        height: 30px;
        font-size: 16px;
    }

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

}